<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <span th:if="${epreuveDto.id == null}">
        <div th:replace="~{fragments/header :: header-css(title='Ajouter une épreuve')}"/>
    </span>
    <span th:if="${epreuveDto.id != null}">
        <div th:replace="~{fragments/header :: header-css(title='Modifier une épreuve')}"/>
    </span>
</head>
<body>

<div th:replace="~{fragments/header :: menu}"/>

<main class="container">
  <div class="card">
    <div class="card-header">
      <span th:if="${epreuveDto.id == null}">
        <h2>Ajouter une épreuve</h2>
      </span>
      <span th:if="${epreuveDto.id != null}">
        <h2>Modifier une épreuve</h2>
      </span>
    </div>
    <div class="card-body">
      <form th:object="${epreuveDto}" th:action="@{/admin/epreuve}" method="post">
        <input type="hidden" th:field="${epreuveDto.id}">
        <div class="my-2">
          <label for="libelle">Libellé</label>
          <input id="libelle" type="text" th:field="${epreuveDto.libelle}" class="form-control">
          <p th:if="${#fields.hasErrors('libelle')}" th:errors="${epreuveDto.libelle}" class="validation-message"></p>
        </div>
        <div class="my-2">
          <label for="sessionDateDebut">Date début</label>
          <input id="sessionDateDebut" type="date" th:field="*{dateDebut}" class="form-control">
          <p th:if="${#fields.hasErrors('dateDebut')}" th:errors="*{dateDebut}" class="validation-message"></p>
        </div>
        <div class="my-2">
          <label for="sessionDateFin">Date fin</label>
          <input id="sessionDateFin" type="date" th:field="*{dateFin}" class="form-control">
          <p th:if="${#fields.hasErrors('dateFin')}" th:errors="*{dateFin}" class="validation-message"></p>
        </div>
        <hr>
        <div class="my-2">
          <a th:href="@{/admin/epreuves}" class="btn btn-secondary">Retour</a>
          <span th:if="${epreuveDto.id != null}">
            <button type="submit" class="btn btn-primary me-1">Mettre à jour</button>
          </span>
          <span th:if="${epreuveDto.id == null}">
            <button type="submit" class="btn btn-primary me-1">Ajouter</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>
