<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <div th:replace="~{fragments/header :: header-css(title='Importer Liste Enseignants')}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu}"/>

<main class="container">
  <div class="card">
    <div class="card-header">
      <h2>Import liste d'enseignants en CSV</h2>
    </div>

    <div class="card-body">
      <p>Attention structure attendue : "Id";"Prénom";Nom;"Email;"Ville";"RNE";"Spécialité" <i>(Fichier encodé en UTF-8)</i></p>
      <p><i>"RNE" corresspondant au code RNE de l'établissement</i></p>
      <form th:action="@{/admin/epreuve/enseignants/import}" enctype="multipart/form-data" method="post">
        <input type="file" name="file" class="my-2 form-control" />
        <button type="submit" class="btn btn-success">Importer</button>
      </form>
    </div>
  </div>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>
