<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <div th:replace="~{fragments/header :: header-css(title='Epreuves')}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu(activeTab='epreuves')}"/>

<main class="container">
  <h1 class="text-center">Liste des Epreuves</h1>
  <a th:href="@{/admin/epreuve/create}" class="btn btn-primary my-2">Ajouter une épreuve</a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Libellé</th>
      <th>Date début</th>
      <th>Date fin</th>
      <th></th>
      <th></th>
      <th>Opérations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="epreuve : ${epreuves}">
      <td th:text="${epreuve.libelle}"></td>
      <td th:text="${epreuve.dateDebut}"></td>
      <td th:text="${epreuve.dateFin}"></td>
      <td><a class="btn btn-primary" th:href="@{/admin/epreuve/import/{id} (id=${epreuve.id})}">Importer des établissements</a></td>
      <td><a th:href="@{/admin/epreuve/show/{id} (id=${epreuve.id})}" class="btn btn-success" th:if="${epreuve.etabsEpreuve.size() != 0}">Gérer les jurys par jours</a></td>
      <td>
        <a th:href="@{/admin/epreuve/edit/{id} (id=${epreuve.id})}" class="btn btn-primary">Modifier les dates</a>
        <form th:action="@{/admin/epreuve/delete/{id} (id=${epreuve.id})}" method="post" style="display: inline">
          <button
            type="submit"
            class="btn btn-danger"
            th:data-confirm-delete="|Êtes-vous sûr de vouloir supprimer cette épreuve : ${epreuve.libelle}?|"
            onclick="return confirm(this.getAttribute('data-confirm-delete'))"
          >
            Supprimer
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</main>

<!-- /.container -->

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>
