<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="~{fragments/header :: header-css(title='Voir une Epreuve')}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu}"/>

<main class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Définir un nombre de jurys par jour et établissement</h2>
        </div>
        <div class="card-body">
            <input type="hidden" th:field="${epreuveDto.id}">
            <h2 th:text="${epreuveDto.libelle}"></h2>
            <p th:text="'Date de début : ' + ${#dates.format(epreuveDto.dateDebut, 'dd/MM/YYYY')}"></p>
            <p th:text="'Date de fin : ' + ${#dates.format(epreuveDto.dateFin, 'dd/MM/YYYY')}"></p>
            <p>Le tableau ne comprend pas les weekends - <span class="text-decoration-underline">Décocher jour si férié</span></p>
            <div class="my-2 table-responsive" style="transform: rotateX(180deg);">
                <table class="table table-striped" style="transform: rotateX(180deg);">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td th:each="jour : ${jours}">
                                <input type="checkbox"
                                       th:class="'ms-3 totalNbr'+${jour.id}"
                                       th:checked="${jour.ouvre}"
                                       th:onchange="'javascript:changeDispo(' + ${jour.id} + ', this);'"
                                       th:data-confirm-delete="|Êtes-vous sûr de vouloir rendre indisponible ce jour : ${#dates.format(jour.dateJ, 'dd/MM')} ? Ceci réinitialisera tous les jurys pour ce jour.|"
                                >
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Etablissements</th>
                            <th>RNE</th>
                            <th>Code</th>
                            <th>Nbr candidats</th>
                            <th>Jury à placer</th>
                            <th th:each="jour : ${jours}" th:text="${#dates.format(jour.dateJ, 'dd/MM')}"></th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="unEtabEpreuve : ${etabEpreuveList}">
                            <td th:text="${unEtabEpreuve.etablissement.nom}"></td>
                            <td th:text="${unEtabEpreuve.etablissement.rne}"></td>
                            <td th:text="${unEtabEpreuve.etablissement.code}"></td>
                            <td>
                                <input type="number"
                                       class="form-control input-sm"
                                       th:value="${unEtabEpreuve.nbrCandidats == null ? 0 : unEtabEpreuve.nbrCandidats}"
                                />
                            </td>
                            <!-- TODO: ajouter th:onchange -->
                            <td>
                                <input type="number"
                                       class="form-control input-sm"
                                       value="0"
                                />
                                <!--th:value="${unEtabEpreuve.nbrCandidats == null ? 0 : #numbers.formatDecimal(unEtabEpreuve.nbrCandidats/5)}"-->
                            </td>
                            <td th:each="jour : ${jours}">
                                <input type="number"
                                       min="0"
                                       th:class="'totalNbr' + ${jour.id} + ' form-control input-sm'"
                                       th:value="${unEtabEpreuve.getJourEtabEpreuve(jour) == null ? 0 : unEtabEpreuve.getJourEtabEpreuve(jour).nbrJury}"
                                       th:onchange="'javascript:changeNbrJuries(' + ${jour.id} + ',' + ${unEtabEpreuve.id} + ', this.value);'"
                                />
                            </td>
                            <td th:text="${unEtabEpreuve.calcTotalNbrJury()}"></td>
                        </tr>
                        <tr>
                            <th>Total par jour</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td th:each="jour : ${jours}" th:text="${jour.calcTotalNbrJury()}" th:id="'totalNbr' + ${jour.id}"></td>
                            <th th:id="totalJury" th:text="${epreuveDto.calcTotalNbrJury()}"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="my-2">
                <a th:href="@{/admin/epreuves}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>
<script src="/js/script.js"></script>
</body>
</html>
