<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="~{fragments/header :: header-css(title='Voir une Epreuve')}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu}"/>

<main class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Voir une Epreuve</h2>
        </div>
        <div class="card-body">
            <input type="hidden" th:field="${epreuveDto.id}">
            <h2 th:text="${epreuveDto.libelle}"></h2>
            <p th:text="'Date de début : ' + ${epreuveDto.dateDebut}"></p>
            <p th:text="'Date de fin : ' + ${epreuveDto.dateFin}"></p>
            <div class="my-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Enseignants</th>
                            <th th:each="jour : ${jours}" th:text="${jour.datePassage}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="etab : ${etabs}">
                            <td  th:text="${etab.nom}"></td>
                            <td th:each="jour : ${jours}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="my-2">
                <a th:href="@{/admin/epreuves}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>
<script src="/js/fetch.js"></script>
</body>
</html>
