<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="~{fragments/header :: header-css(title='Voir une Session')}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu}"/>

<main class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Voir une Session</h2>
        </div>
        <div class="card-body">
            <input type="hidden" th:field="${epreuveDto.id}">
            <h2 th:text="${epreuveDto.libelle}"></h2>
            <p th:text="'Date de début : ' + ${epreuveDto.dateDebut}"></p>
            <p th:text="'Date de fin : ' + ${epreuveDto.dateFin}"></p>
            <div class="my-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Jour Ouvrés</th>
                            <th>Disponibilité (décocher si férié ou pont)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="jour : ${jours}" >
                            <td th:text="${jour.datePassage}"></td>
                            <td>
                                <input th:checked="${jour.ouvre}" th:onclick="'javascript:changeDispo(' + ${jour.id} + ', this.checked );'" type="checkbox" class="ms-5">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="my-2">
                <a th:href="@{/admin/epreuves}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>
<script src="/js/fetch.js"></script>
</body>
</html>
