<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <span th:if="${etablissementDto.id == null}">
    <div th:replace="~{fragments/header :: header-css(title='Ajouter un établissement')}"/>
  </span>
  <span th:if="${etablissementDto.id != null}">
    <div th:replace="~{fragments/header :: header-css(title='Modifier un établissement')}"/>
  </span>
</head>
<body>

<div th:replace="~{fragments/header :: menu}"/>

<main class="container">
  <div class="card">
    <div class="card-header">
      <span th:if="${etablissementDto.id == null}">
        <h2>Ajouter un Etablissement</h2>
      </span>
      <span th:if="${etablissementDto.id != null}">
        <h2>Modifier un Etablissement</h2>
      </span>
    </div>

    <div class="card-body">
      <form th:action="@{/admin/etablissement}" th:object="${etablissementDto}"
            method="post">
        <input type="hidden" th:field="${etablissementDto.id}">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"
        />
        <div class="mb-4">
          <label for="etabNom" class="form-label">Nom</label>
          <input type="text" th:field="*{nom}" id="etabNom" required placeholder="Name" class="form-control">
          <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="validation-message"></span>

          <!-- TODO: input avec datalist pour les villes de france (API) -->

          <div class="my-2">
            <label for="villeEtab">Ville</label>
            <select id="villeEtab" class="form-control" th:field="*{idVille}">
              <option th:each="ville : ${villes}" th:value="${ville.id}" th:text="${ville.nom}"></option>
            </select>
          </div>

          <div class="my-2">
            <label for="rne" class="form-label">RNE</label>
            <input type="text" th:field="*{rne}" id="rne" required placeholder="RNE" class="form-control">
            <span th:if="${#fields.hasErrors('rne')}" th:errors="*{rne}" class="validation-message"></span>
          </div>

          <div class="my-2">
            <label for="code" class="form-label">Code</label>
            <input type="text" th:field="*{code}" id="code" required placeholder="Code" class="form-control">
            <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="validation-message"></span>
          </div>

          <div class="my-2">
            <label for="ponctuel" class="form-label">Ponctuel</label>
            <input type="checkbox" th:field="*{ponctuel}" id="ponctuel">
            <span th:if="${#fields.hasErrors('ponctuel')}" th:errors="*{ponctuel}" class="validation-message"></span>
          </div>
        </div>
        <hr>

        <div class="my-2">
          <a th:href="@{/admin/etablissements}" class="btn btn-secondary">Retour</a>
          <span th:if="${etablissementDto.id != null}">
            <button type="submit" class="btn btn-primary me-1">Mettre à jour</button>
          </span>
          <span th:if="${etablissementDto.id == null}">
            <button type="submit" class="btn btn-primary me-1">Ajouter</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</main>

<!-- /.container -->

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>
