<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <div th:replace="~{fragments/header :: header-css(title='Importer Etablissements')}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu}"/>

<main class="container">
  <div class="card">
    <div class="card-header">
      <h2>Import liste d'établissements en CSV</h2>
    </div>

    <div class="card-body">
      <p>Attention structure attendue : "id";"Nom";"Ville";"RNE";"Code";"Ponctuel" <i>(Fichier encodé en UTF-8)</i></p>
      <p>NB: Si ponctuel (établissement accueillant des jurys) remplir avec une croix ("x")</p>
      <p></p>
      <form th:action="@{/admin/etablissement/import}"
            enctype="multipart/form-data"
            method="post">
        <input type="file" name="file" class="my-2 form-control" />
        <button type="submit" class="btn btn-success">Importer</button>
      </form>
    </div>
  </div>
</main>

<!-- /.container -->

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>
