<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <div th:replace="~{fragments/header :: header-css(title='Etablissements')}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu(activeTab='etablissements')}"/>

<main class="container">

  <h1 class="text-center">Etablissements</h1>

  <a class="btn btn-primary" href="#" th:href="@{/admin/etablissement}">Ajouter un établissement</a>
  <a class="btn btn-primary" href="#" th:href="@{/admin/etablissement/import}">Importer une liste d'établissements</a>

  <div th:switch="${etablissements}">
    <h2 th:case="null">Aucun établissement!</h2>
    <div th:case="*">

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Ville</th>
          <th>RNE</th>
          <th>Code</th>
          <th>Ponctuel</th>
          <th>Opérations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="etab : ${etablissements}">
          <td th:text="${etab.nom}"></td>
          <td th:text="${etab.ville} ? ${etab.ville.nom} : 'N/A'"></td>
          <td th:text="${etab.rne}"></td>
          <td th:text="${etab.code}"></td>
          <td><input th:checked="${etab.ponctuel}" th:onclick="'javascript:changePonctuel(' + ${etab.id} + ', this.checked );'" type="checkbox" class="ms-5">
          <td>
            <a th:href="@{/admin/etablissement/edit/{id} (id=${etab.id})}" class="btn btn-primary">Modifier</a>
            <form th:action="@{/admin/etablissement/delete/{id} (id=${etab.id})}" method="post" style="display: inline">
              <button
                type="submit"
                class="btn btn-danger"
                th:data-confirm-delete="|Êtes-vous sûr de vouloir supprimer cet établisement : ${etab.nom}?|"
                onclick="return confirm(this.getAttribute('data-confirm-delete'))"
              >
                Supprimer
              </button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>

<script src="/js/fetch.js"></script>
</body>
</html>
