<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/header :: header-css(title='Liste des Spécialités')}" />
</head>
<body>

<div th:replace="~{fragments/header :: menu(activeTab='specialites')}" />

<main class="container">
  <h1 class="text-center">Liste des Spéciaités</h1>
  <a th:href="@{/admin/specialite/create}" class="btn btn-primary my-2">Ajouter une spécialité</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Libéllé</th>
        <th>Liste des enseignants</th>
        <th>Opérations</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="spec : ${specs}">
        <td th:text="${spec.libelle}"></td>
        <!-- TODO: Liste des profs -->
        <td></td>
        <td>
          <a th:href="@{/admin/specialite/edit/{id} (id=${spec.id})}" class="btn btn-primary me-1">Modifier</a>
          <form th:action="@{/admin/specialite/delete/{id} (id=${spec.id})}" method="post" style="display: inline">
            <button
                    type="submit"
                    class="btn btn-danger"
                    th:data-confirm-delete="|Êtes-vous sûr de vouloir supprimer cette spécialite : ${spec.libelle} ?|"
                    onclick="return confirm(this.getAttribute('data-confirm-delete'))"
            >
              Supprimer
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</main>
<div th:replace="~{fragments/footer :: footer}" />
</body>
</html>