<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <span th:if="${ville.id == null}">
        <div th:replace="~{fragments/header :: header-css(title='Ajouter une Ville')}"/>
    </span>
    <span th:if="${ville.id != null}">
        <div th:replace="~{fragments/header :: header-css(title='Modifier une Ville')}"/>
    </span>
</head>
<body>

<div th:replace="~{fragments/header :: menu}"/>

<main class="container">
    <div class="card">
        <div class="card-header">
            <span th:if="${ville.id == null}">
                <h2>Ajouter une ville</h2>
            </span>
            <span th:if="${ville.id != null}">
                <h2>Modifier une ville</h2>
            </span>
        </div>
        <div class="card-body">
            <form th:object="${ville}" th:action="@{/admin/ville}" method="post">
                <input type="hidden" th:field="${ville.id}">
                <div class="my-2">
                    <label for="nomVille">Nom</label>
                    <input type="text" id="nomVille" th:field="${ville.nom}" class="form-control">
                    <p th:if="${#fields.hasErrors('nom')}" th:errors="${ville.nom}" class="validation-message"></p>
                </div>
                <div class="my-2">
                    <a th:href="@{/admin/villes}" class="btn btn-secondary">Retour</a>
                    <span th:if="${ville.id != null}">
                        <button type="submit" class="btn btn-primary me-1">Mettre à jour</button>
                    </span>
                    <span th:if="${ville.id == null}">
                        <button type="submit" class="btn btn-primary me-1">Ajouter</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>