<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu(activeTab='inscription')}"/>

<main class="container">
    <h1 class="text-center">Inscription</h1>
    <form action="/inscription" method="post" th:object="${utilisateur}" class="form-control my-5">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"
        />
        <div>
            <label for="email"><i class="fa-solid fa-at me-2"></i>Email</label>
            <input id="email" name="email" th:field="*{email}" type="email" class="form-control my-2">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></p>
        </div>
        <div>
            <label for="mdp1"><i class="fa-solid fa-key me-2"></i>Mot de passe</label>
            <input id="mdp1" name="mdp1NonEncode" th:field="*{mdp1NonEncode}" type="password" class="form-control my-2">
            <p th:if="${#fields.hasErrors('mdp1NonEncode')}" th:errors="*{mdp1NonEncode}" class="validation-message"></p>
        </div>
        <div>
            <label for="mdp2"><i class="fa-solid fa-key me-2"></i>Confirmer mot de passe</label>
            <input id="mdp2" name="mdp2NonEncode" th:field="*{mdp2NonEncode}" type="password" class="form-control my-2">
            <p th:if="${#fields.hasErrors('mdp2NonEncode')}" th:errors="*{mdp2NonEncode}" class="validation-message"></p>
        </div>
        <button class="btn btn-primary my-2">Envoyer</button>
    </form>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>