<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu(activeTab='login')}"/>

<main class="container">
    <h1 class="text-center">Login</h1>
    <form action="/login" method="post" class="form-control">
        <div><label>Email</label><input name="username" type="text" class="form-control"></div>
        <div><label>Mot de passe</label><input name="password" type="password" class="form-control"></div>
        <button class="btn btn-primary my-2">Envoyer</button>
    </form>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>