<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu(activeTab='login')}"/>

<main class="container">
    <h1 class="text-center">Login</h1>
    <form action="/login" method="post" class="form-control my-5">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"
        />
        <div><label><i class="fa-solid fa-at me-2"></i>Email</label><input name="username" type="text" class="form-control my-2"></div>
        <div><label><i class="fa-solid fa-key me-2"></i>Mot de passe</label><input name="password" type="password" class="form-control my-2"></div>
        <button class="btn btn-primary my-2">Envoyer</button>
    </form>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>