<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <span th:if="${jury.id == null}">
        <div th:replace="~{fragments/header :: header-css(title='Ajouter un Jury')}"/>
    </span>
    <span th:if="${jury.id != null}">
        <div th:replace="~{fragments/header :: header-css(title='Modifier un Jury')}"/>
    </span>
</head>
<body>

<div th:replace="~{fragments/header :: menu}"/>

<main class="container">
    <div class="card">
        <div class="card-header">
            <span th:if="${jury.id == null}">
                <h2>Ajouter un jury</h2>
            </span>
            <span th:if="${jury.id != null}">
                <h2>Modifier un jury</h2>
            </span>
        </div>
        <div class="card-body">
            <form th:object="${jury}" th:action="@{/admin/jury}" method="post">
                <input type="hidden" th:field="${jury.id}" th:if="${jury.id != null}">
                <div class="my-2">
                    <label for="num">Numéro</label>
                    <input type="text" id="num" th:field="*{num}" class="form-control">
                    <p th:if="${#fields.hasErrors('num')}" th:errors="*{num}" class="validation-message"></p>
                </div>
                <div class="my-2">
                    <label for="prof1">Prof 1</label>
                    <select id="prof1" class="form-control" th:field="*{prof1}">
                    <option th:each="prof : ${profsSISR}" th:value="${prof.id}" th:text="${prof.nom + ' ' + prof.prenom}"></option>
                </select>
                </div>
                <div class="my-2">
                    <label for="prof2">Prof 2</label>
                    <select id="prof2" class="form-control" th:field="*{prof2}">
                        <option th:each="prof : ${profsSLAM}" th:value="${prof.id}" th:text="${prof.nom + ' ' + prof.prenom}"></option>
                    </select>
                </div>
                <div class="my-2">
                    <label for="juryJour">Jour</label>
                    <select id="juryJour" class="form-control" th:field="*{jour}">
                        <option th:each="jour : ${jours}" th:value="${jour.id}" th:text="${jour.dateJ}"></option>
                    </select>
                </div>
                <div class="my-2">
                    <label for="juryEtab">Établissement</label>
                    <select id="juryEtab" class="form-control" th:field="*{etabEpreuve}">
                        <option th:each="etab : ${etabs}" th:value="${etab.id}" th:text="${etab.etablissement.code}"></option>
                    </select>
                </div>
                <hr>
                <div class="my-2">
                    <a th:href="@{/admin/jurys}" class="btn btn-secondary">Retour</a>
                    <span th:if="${jury.id != null}">
                        <button type="submit" class="btn btn-primary me-1">Mettre à jour</button>
                    </span>
                    <span th:if="${jury.id == null}">
                        <button type="submit" class="btn btn-primary me-1">Ajouter</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>
<script src="/js/scriptJury.js"></script>
</body>
</html>


