<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>

<div th:fragment="footer" >
    <footer class="container d-flex justify-content-center mt-5 mb-3 text-muted" >
        <p>&copy; PlanExam 2023</p>
    </footer>

    <script src="/webjars/bootstrap/js/bootstrap.bundle.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"
            crossorigin="anonymous">
    </script>

</div>
</body>
</html>
