<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <th:block th:fragment="header-css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

    <title th:text="${title ?: 'PlanExam'}"></title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">

    <!-- Bootswatch CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/cerulean/bootstrap.min.css" integrity="sha512-EKyrNi3+szgGslyi2kYzcYLwnBSt4XrnamWGiclaRkqsriEl+e4EmyNFAN/LoVXV8ESLxAQ7/cFfrX4rML0h2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--  Font-Awesome core CSS -->
    <link href="/webjars/font-awesome/css/all.min.css"
          th:href="@{/webjars/font-awesome/css/all.min.css}"
          rel="stylesheet">

    <!-- Custom styles for application -->
    <link rel="stylesheet" th:href="@{/css/planexam.css}"/>

  </th:block>
</head>
<body>

<div th:fragment="menu">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}"><i class="fa-solid fa-feather fa-xl me-2"></i>PlanExam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" >
          <a class="nav-link" th:href="@{/}" th:classappend="${activeTab == 'home' ? 'active' : null}" aria-current="page" ><i class="fa-solid fa-house"></i> Accueil</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" th:href="@{/prof/dashboard}" th:classappend="${activeTab == 'dashboard' ? 'active' : null}" sec:authorize="hasAnyAuthority('prof', 'admin')">
            <i class="fa-solid fa-list"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/epreuves}" th:classappend="${activeTab == 'epreuves' ? 'active' : null}" sec:authorize="hasAuthority('admin')">
            <i class="fa-solid fa-calendar-days"></i>
            Epreuve
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/enseignants}" th:classappend="${activeTab == 'enseignants' ? 'active' : null}" sec:authorize="hasAuthority('admin')">
            <i class="fa-solid fa-user-tie"></i>
            Enseignants
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/jurys}" th:classappend="${activeTab == 'jurys' ? 'active' : null}" sec:authorize="hasAuthority('admin')">
            <i class="fa-solid fa-user-group"></i>
            Jurys
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/etablissements}" th:classappend="${activeTab == 'etablissements' ? 'active' : null}" sec:authorize="hasAuthority('admin')">
            <i class="fa-solid fa-school"></i>
            Etablissements
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/villes}" th:classappend="${activeTab == 'villes' ? 'active' : null}" sec:authorize="hasAuthority('admin')">
            <i class="fa-solid fa-city"></i>
            Villes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/specialites}" th:classappend="${activeTab == 'specialites' ? 'active' : null}" sec:authorize="hasAuthority('admin')">
            <i class="fa-solid fa-graduation-cap"></i>
            Spécialités
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto me-3">
        <li class="nav-item" >
          <a class="nav-link" th:href="@{/inscription}" th:classappend="${activeTab == 'inscription' ? 'active' : null}" sec:authorize="!isAuthenticated()">
            <i class="fa-solid fa-user-plus"></i>
            Inscription
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" th:href="@{/login}" th:classappend="${activeTab == 'login' ? 'active' : null}" sec:authorize="!isAuthenticated()">
            <i class="fa-solid fa-right-to-bracket"></i>
            Login
          </a>
        </li>
        <li class="nav-item mx-2 mt-0" sec:authorize="isAuthenticated()">
          <form action="/logout" method="post">
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"
            />
            <button class="btn btn-danger"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="m-4">
    <p th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger"></p>
    <p th:if="${warningMessage != null}" th:text="${warningMessage}" class="alert alert-warning"></p>
    <p th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success"></p>
  </div>
</div>
</body>
</html>
