<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:fragment="header-css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

    <title th:text="${title ?: 'PlanExam'}"></title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="/webjars/font-awesome/css/all.min.css"
          th:href="@{/webjars/font-awesome/css/all.min.css}"
          rel="stylesheet">

    <!-- Custom styles for application -->
    <link rel="stylesheet" th:href="@{/css/planexam.css}"/>

  </th:block>
</head>
<body>

<!--https://getbootstrap.com/docs/5.3/examples/navbar-static/ -->
<div th:fragment="menu">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" th:href="@{/}">PlanExam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" >
          <a class="nav-link" th:href="@{/}" th:classappend="${activeTab == 'home' ? 'active' : null}" aria-current="page" >Accueil</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" th:href="@{/inscription}" th:classappend="${activeTab == 'inscription' ? 'active' : null}" >Inscription</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" th:href="@{/login}" th:classappend="${activeTab == 'login' ? 'active' : null}" >Login</a>
        </li>
        <!--    TODO: if prof is connected    -->
        <li class="nav-item" >
          <a class="nav-link" th:href="@{/prof/dashboard}" th:classappend="${activeTab == 'dashboard' ? 'active' : null}" >Dashboard</a>
        </li>
        <!--    TODO: if admin is connected    -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/sessions}" th:classappend="${activeTab == 'sessions' ? 'active' : null}" >Sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/etablissements}" th:classappend="${activeTab == 'etablissements' ? 'active' : null}" >Etablissements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/enseignants}" th:classappend="${activeTab == 'enseignants' ? 'active' : null}" >Enseignants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/villes}" th:classappend="${activeTab == 'villes' ? 'active' : null}" >Villes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/specialites}" th:classappend="${activeTab == 'specialites' ? 'active' : null}" >Spécialités</a>
        </li>
        <!--    TODO: display when logged in    -->
        <li class="nav-item mt-2 text-secondary me-2">|</li>
        <li class="nav-item">
          <form action="/logout" method="post">
            <button class="btn btn-danger">Logout</button>
          </form>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control mx-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  <div>
    <p th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger"></p>
    <p th:if="${warningMessage != null}" th:text="${warningMessage}" class="alert alert-warning"></p>
    <p th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success"></p>
  </div>
</div>
</body>
</html>
