<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>

<div th:replace="~{fragments/header :: menu(activeTab='home')}"/>

<main class="container">
  <h1 class="text-center">Accueil</h1>
  <div class="card my-5">
    <div class="card-header">
      <h2 class="text-danger">Étapes à suivre :</h2>
    </div>
    <div class="card-body fs-5">
      <h3>Premier temps :</h3>
      <ol>
        <li>Se connecter en tant qu'admin</li>
        <li>Créer une épreuve</li>
        <li>Importer une liste d'établissements pour cette épreuve</li>
        <li>Gérer les entrées pour cette épreuve (nombre de candidats, nombre de jurys à prévoir)</li>
      </ol>
      <h3>Second temps :</h3>
      <ol start="5">
        <li>Importer une liste d'enseignants</li>
        <li>Créer des jurys</li>
        <li>Répartir les jurys (TODO)</li>
      </ol>
    </div>
  </div>
</main>

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>
