<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <span th:if="${prof.id == null}">
        <div th:replace="~{fragments/header :: header-css(title='Ajouter un Enseignant')}"/>
    </span>
    <span th:if="${prof.id != null}">
        <div th:replace="~{fragments/header :: header-css(title='Modifier un Enseignant')}"/>
    </span>
</head>
<body>

<div th:replace="~{fragments/header :: menu}"/>

<main class="container">
    <div class="card">
        <div class="card-header">
            <span th:if="${prof.id == null}">
                <h2>Ajouter un enseignant</h2>
            </span>
            <span th:if="${prof.id != null}">
                <h2>Modifier un enseignant</h2>
            </span>
        </div>
        <div class="card-body">
            <form th:object="${prof}" th:action="@{/admin/enseignant}" method="post">
                <input type="hidden" th:field="${prof.id}">
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}"
                />
                <div class="my-2">
                    <label for="nomProf">Nom</label>
                    <input type="text" id="nomProf" th:field="*{nom}" class="form-control">
                    <p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="validation-message"></p>
                </div>
                <div class="my-2">
                    <label for="prenomProf">Prénom</label>
                    <input type="text" id="prenomProf" th:field="*{prenom}" class="form-control">
                    <p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="validation-message"></p>
                </div>
                <div class="my-2">
                    <label for="emailProf">Email</label>
                    <input type="email" id="emailProf" th:field="*{email}" class="form-control">
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></p>
                </div>
                <div class="my-2">
                    <label for="specProf">Spécialité</label>
                    <select id="specProf" class="form-control" th:field="*{idSpecialite}">
                        <option th:each="specialite : ${specs}" th:value="${specialite.id}" th:text="${specialite.libelle}"></option>
                    </select>
                </div>
                <div class="my-2">
                    <label for="villeProf">Ville</label>
                    <select id="villeProf" class="form-control" th:field="*{idVille}">
                        <option
                                th:each="ville : ${villes}"
                                th:value="${ville.id}"
                                th:text="${ville.nom}"
                        >
                        </option>
                    </select>
                </div>
                <div class="my-2">
                    <label for="etabProf">Établissment</label>
                    <select id="etabProf" class="form-control" th:field="*{idEtablissement}">
                        <option th:each="etab : ${etabs}" th:value="${etab.id}" th:text="${etab.nom}"></option>
                    </select>
                </div>
                <hr>
                <div class="my-2">
                    <a th:href="@{/admin/enseignants}" class="btn btn-secondary">Retour</a>
                    <span th:if="${prof.id != null}">
                        <button type="submit" class="btn btn-primary me-1">Mettre à jour</button>
                    </span>
                    <span th:if="${prof.id == null}">
                        <button type="submit" class="btn btn-primary me-1">Ajouter</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</main>

<!-- /.container -->

<div th:replace="~{fragments/footer.html :: footer}"/>

</body>
</html>


